*{
    margin: 0;
    padding: 0;
}
img {
-webkit-user-drag: none;
}
.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 25%; /* 30% menos largura que a div da imagem */
    background-color: #f0f0f0; /* Cor de fundo para a div do menu */
    padding: 25px;
    box-shadow: #0000009f 0.5vh 0px 5px;
    z-index: 1;
    background-image:url("/img/crossbg.jpeg");
    background-color: rgba(70, 109, 119, 0.5);
    background-size: cover;
    background-position: center center no-repeat;
    background-blend-mode: overlay;
   
}
.menu button {
    max-width: 100% ;
    white-space: nowrap;
    border: 0;
    border-radius: 10px;
    margin-block: 50px;
    padding: 10px;
    font-size: 2vw;
    font-family:"IBM plex mono",monospace ;
    font-weight:bold;
    background-image: linear-gradient(to right, #d9d9d9, #a8a8a8);
    box-shadow: #0000009f 0px 0.5vh 5px;
   
}
.menu button:focus {
    transform: translateY(4px);
    background-image: linear-gradient(to right, #757575, #2e2e2e);
    box-shadow: inset #0000009f 0px 0.5vh 5px;
}
.menu button:hover{
    cursor: pointer;
}
.image-container {
    width: 75%; /* 30% mais largura que a div do menu */
    background-image: linear-gradient(to bottom, #a8cacf, #025962, #000000); /* Cor de fundo para a div da imagem */
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container img {
    max-width: 75%;
    height: auto;
    padding: 20px;
    
}
