.container1 {
	flex: 1;
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	justify-content: center;
	align-content: center;
	flex: 1;
}

.profiles {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	& .profile {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
		flex: 1;
		margin-inline: 5vw;
		padding: 10px;
	}
}

.avatar {
	width: 6.25rem;
	height: 6.25rem;
	background-color: #ffffff2d;
	border-radius: 50%;
	margin-bottom: 10px;
	& img {
		width: 6.25rem;
		height: 6.25rem;
		border-radius: 50%;
	}
}

h1 {
	font-family: 'IBM plex mono', monospace;
	color: #ffffff;
	font-size: 5vw;
	font-weight: bolder;
	text-align: center;
}

p {
	font-family: 'IBM plex mono', monospace;
	color: #ffffff;
	margin-bottom: 10px;
	font-size: 0.9rem;
	font-weight: bolder;
	text-wrap: nowrap;
}

main button {
	font-family: 'IBM plex mono', monospace;
	color: #000000;
	background-image: linear-gradient(to right, #d9d9d9, #a8a8a8);
	box-shadow: #0000009f 0px 0.5vh 5px;
	border: none;
	border-radius: 20px;
	padding: 10px 20px;
	margin-bottom: 10px;
	cursor: pointer;
	font-size: 0.9rem;
	font-weight: bold;
}

main button:hover {
	transform: translateY(4px);
	background-image: linear-gradient(to right, #757575, #2e2e2e);
	box-shadow: inset #0000009f 0px 0.5vh 5px;
}

footer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	min-height: 15%;
	color: #ffffff;
	text-align: center;
	padding: 10px;
}

footer img {
	height: 50px;
	-webkit-user-drag: none;
}
