img {
	-webkit-user-drag: none;
}

.container {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
	align-items: center;
	height: 100vh;
	padding-inline: 20px;
	background-image: url(/bgsimage/e6231119-f7db-42af-8dad-5271901e4352.gif);
	background-color: rgba(0, 0, 0, 0.3);
	background-size: cover ;
	background-position: center center ;
	background-blend-mode: overlay;
}
.menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 20%;
	padding-block: 20px;
}

.menu .playb {
align-self: flex-start;
}

.menu .outrob {
	align-self: flex-end;
	}

.menu a {
	display: flex;
	text-decoration: none; /* Remove sublinhado dos links */
	justify-content: center;
}
.menu button {
	width: 250px; 
	height: 60px;
	border-radius: 10px;
	padding: 10px;
	font-size: 20px;
	font-family: 'IBM plex mono', monospace;
	font-weight: bold;
	background-image: linear-gradient(to right, #0e0e0e, #000000);
	box-shadow: #0000009f 0px 0.5vh 5px;
	color: #ffffff;

	
}
.menu button:hover {
	transform: translateY(4px);
	background-image: linear-gradient(to right, #757575, #ffffff);
	box-shadow: inset #0000009f 0px 0.5vh 5px;
	color: #000000;
}
.menu button:hover {
	cursor: pointer;
}
.image-container {
	width: 75%; /* 30% mais largura que a div do menu */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50%;
	padding: 20px;
}
.image-container img {
	min-width: 750px;
	height: auto;
	padding: 20px;
}

