img {
	-webkit-user-drag: none;
}
.container {
	display: flex;
	justify-content: space-between;
	height: 100vh;
}
.menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	width: 25%; /* 30% menos largura que a div da imagem */
	padding: 25px;
	z-index: 1;
	
}
.menu a {
	text-decoration: none; /* Remove sublinhado dos links */
}
.menu button {
	width: 100%; /* Ocupa toda a largura disponível */
	white-space: nowrap;
	border: 0;
	border-radius: 10px;
	margin-block: 50px;
	padding: 10px;
	font-size: 2vw;
	font-family: 'IBM plex mono', monospace;
	font-weight: bold;
	background-image: linear-gradient(to right, #d9d9d9, #a8a8a8);
	box-shadow: #0000009f 0px 0.5vh 5px;
}
.menu button:hover {
	transform: translateY(4px);
	background-image: linear-gradient(to right, #757575, #2e2e2e);
	box-shadow: inset #0000009f 0px 0.5vh 5px;
}
.menu button:hover {
	cursor: pointer;
}
.image-container {
	width: 75%; /* 30% mais largura que a div do menu */
	; /* Cor de fundo para a div da imagem */
	display: flex;
	justify-content: center;
	align-items: center;
}
.image-container img {
	max-width: 75%;
	height: auto;
	padding: 20px;
}

