
.contpl{
background-image: url(/bgsimage/vista-superior-do-jornal-frances-antigo.jpg);
background-color: rgba(0, 0, 0, 0.8);
background-size: cover ;
background-position: center center ;
background-blend-mode: overlay;
min-height: 100vh; /* Garante que o fundo cubra toda a altura da viewport */
margin: 0; /* Remove qualquer margem padrão */
padding: 0; /* Remove qualquer padding padrão */
}

.pagetitle{
	font-size: 70px;
	color: #ffffff;
	font-family: 'IBM plex mono', monospace;
}

.tablesh11 {
	font-family: 'IBM plex mono', monospace;
	color: #ffffff;
	font-size: 40px;
	font-weight: bolder;
	text-align: center;
}

.howmain1 {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-content: center;
	flex: 1;
}

.cluespart1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	flex: 1;
}

.gridpart1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: flex-start;
	flex: 1;
	min-width: 70%;
}

.cluestable1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.thegrid1 {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 80%;
}

.cluelist1 {
	display: flex;
	align-items: center;
	justify-content: center;
	border-color: #ffffff;
	border-style: solid;
	border-radius: 30px;
	border-width: 5px;
}

ol {
	list-style-position: inside;
	padding: 20px;
}

.gridh11,
.clueh11 {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 1%;
	padding-inline: 5px;
}

li {
	font-family: 'IBM plex mono', monospace;
	color: #ffffff;
	font-size: 0.9rem;
	font-weight: bolder;
	text-wrap: wrap;
	padding-block: 1vw;
}

table.crossword {
	border-collapse: collapse;
}

table.crossword td {
	width: 80px;
	height: 80px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #000000;
}

table.crossword .filled {
	font-family: 'IBM plex mono', monospace;
	color: #ffffff;
	font-weight: bolder;
	background-color: #00000000;
	border-color: #ffffff;
	border-width: 5px;
	font-size: 2rem;
}

table.crossword .empty {
	font-family: 'IBM plex mono', monospace;
	font-weight: bolder;
	color: #ffffff;
	background-color: #00000000;
	border: 0;
	font-size: 1.5rem;
}

