header {
	display: flex;
	flex-direction: row;
	align-items: center;
	min-height: 15%;
	padding: 20px;
}

h1,
.separator,
.return {
	flex: 1;
	text-align: center;
}

.pagetitle {
	color: #ffffff;
	font-size: 5vw;
}
